* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  height: 100vh;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dark-mode {
  display: none;
}

.light-mode {
  display: block;
}